/* МОБИЛЬНЫЕ */

/* TABLET Для экранов с максимальной шириной от 900 до 1199px включительно */

/* Tablet */

@media (max-width: 1199px) {
    .container {
        width: 900px;
    }
    .header {
        height: 100px;
    }
    .header-top {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    .header-content {
        width: 900px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo {
        font-size: 30px;
    }
    .header-nav-button {
        display: block;
        background: transparent;
        border: none;
    }
    .header-nav-list {
        display: none;
    }
    /* MAIN */
    .inner-page-tracking {
        padding-top: 40px;
        padding-bottom: 60px;
    }
    /* блок 1 */
    .article-page-nav-list {
        font-size: 18px;
    }
    .article-page-article {
        width: 570px;
        font-size: 18px;
    }
    /* блок 2 */
    .inner-page-tours-header {
        margin-bottom: 20px;
    }
    .article-page-article h1 {
        margin-bottom: 40px;
        font-size: 50px;
        line-height: 1;
    }
    .article-page-article img {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    /* Footer */
    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer-widget-services {
        display: none;
    }
    .footer-logo {
        margin-bottom: 20px;
    }
    .footer-logo .logo {
        font-size: 30px;
    }
    .footer-copyright p {
        font-size: 14px;
    }
    .footer-widget-title {
        margin-bottom: 20px;
    }
}

/* MOBILE Для экранов с максимальной шириной до 899px включительно */

/* Mobile */

@media (max-width: 899px) {
    .container {
        width: 600px;
    }
    .inner-page-tracking {
        padding-top: 20px;
        padding-bottom: 60px;
    }
    /* ROW ARTICLE PAGE*/
    .row-article-page {
        flex-direction: column-reverse;
    }
    .article-page-article img {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .article-page-article {
        margin-bottom: 40px;
    }
    .article-page-nav {
        width: 570px;
    }
    /* Footer */
    .footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-row {
        flex-wrap: wrap;
    }
    .footer-copyright {
        order: 1;
        width: auto;
    }
    .footer-widgets-wrapper {
        width: 100%;
        margin-bottom: 50px;
    }
    .footer-widgets-wrapper>* {
        /* width: 270px; */
        width: calc(50% - 15px);
    }
}

/* MOBILE XS Для экранов с максимальной шириной до 599px включительно */

/* Mobile XS */

@media (max-width: 599px) {
    .container {
        width: 320px;
    }
    /* MAIN */
    .inner-page-tracking {
        /* padding-top: 20px; */
        padding-bottom: 40px;
    }
    .article-page-article {
        margin-bottom: 30px;
        width: 290px;
        font-size: 18px;
    }
    .article-page-article h1 {
        margin-bottom: 10px;
        font-size: 28px;
    }
    .article-page-article h2 {
        line-height: 1;
    }
    .article-page-article h3 {
        line-height: 1;
    }
    .article-page-article h4 {
        line-height: 1.6;
    }
    .article-page-nav {
        width: 290px;
    }
    .article-page-article p {
        font-size: 16px;
        line-height: 1.6;
    }
    .article-page-nav-title {
        font-size: 22px;
    }
    .article-page-nav-list {
        font-size: 16px;
    }
    /* Footer */
    .footer {
        text-align: center;
    }
    .footer-row {
        flex-direction: column;
    }
    .footer-widgets-wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0;
    }
    .footer-widget-services {
        display: block;
    }
    .footer-widget {
        margin-bottom: 40px;
    }
    .footer-widget+.footer-widget {
        margin-left: 0px;
    }
    .footer-widgets-wrapper>* {
        width: 100%;
    }
    .footer-widget-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer-widget-list li {
        margin-bottom: 10px;
    }
    .footer-widget-list {
        font-size: 16px;
    }
    .footer-widget p {
        font-size: 16px;
    }
    .footer-copyright p {
        font-size: 14px;
        line-height: 1.6;
    }
}